body{
    background-color: rgb(179, 179, 179);
}
.cabeçalho{
    border-color: black;
    border-radius:10px;
}
.titulocabeçalho{
    text-align: center;
    font-size: 18px;
    font-family: CodePro;
}
@font-face {
    font-family: CodePro;
    src: url(/Fontes/SourceCodePro-VariableFont_wght.ttf);
}
.sobremim{
    background-color: rgb(217, 217, 217);
    width: 900px;
    height: 200px;
    border: 10px;
    border-radius: 10px;
    align-content: center;
    position: relative;
    left: 35px;
    top: 100px;
    
    .paragrafosobremim{
      font-family: CodePro;
      text-align: left;
      position: relative;
      padding: 20px;
    }
}
.linguagens{
    background-color: rgb(217, 217, 217);
    position: relative;
    left: 35px;
    top: 175px;
    align-content: center;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    
    .html5{
        width: 100px;
        position: relative;
        left: 40px;
        top: 30px;
    }
    .jvscript{
        position: relative;
        left: 55px;
        width: 80px;
        top: 30px;
    }
    .css{
        position: relative;
        left: 85px;
        width: 70px;
        top: 30px;
    }
    .linguagens-de-cima{
        position: relative;
        bottom: 35px;
        
    }
   .pythonft{
    width: 80px;
    position: relative;
    top: 125px;
    right: 215px;
   }
   .git{
    width: 80px;
    position: relative;
    left: 160px;
    top: 45px;
   }
   .sql{
    position: relative;
    left: 150px;
    width: 150px;
    top: 40px;
    }
 }

.botoes {
  display: flex;
  gap: 16px;
  position: relative;
  left: 600px;
  

}

.btn {
  display: inline-block;
  padding: 10px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
}

.btn-linkedin {
  background-color: #0077B5;
  color: white;
  position: relative;
  top: 64px;
  right: 100px;
  width: 335px;
}

.btn-linkedin:hover {
  background-color: #005f8e;
}

.btn-github {
  background-color: #333;
  color: white;
  position: relative;
  right: 500px;
  width: 335px;
  bottom: 75px;
  height: 90px;
  
}

.btn-github:hover {
  background-color: #111;
}
