body{
    background-color: rgb(179, 179, 179);
}
.cabeçalho{
    border-color: black;
    border-radius:10px;
}
.titulocabeçalho{
    text-align: center;
    font-size: 18px;
    font-family: CodePro;
}
@font-face {
    font-family: CodePro;
    src: url(/Fontes/SourceCodePro-VariableFont_wght.ttf);
}
.sobremim{
    background-color: rgb(217, 217, 217);
    width: 900px;
    height: 200px;
    border: 10px;
    border-radius: 10px;
    align-content: center;
    position: relative;
    left: 35px;
    top: 100px;
    
    .paragrafosobremim{
      font-family: CodePro;
      text-align: left;
      position: relative;
      padding: 20px;
    }
}
.linguagens{
    background-color: rgb(217, 217, 217);
    position: relative;
    left: 35px;
    top: 175px;
    align-content: center;
    width: 400px;
    height: 250px;
    
    .html5{
        width: 100px;
        position: relative;
        left: 40px;
        top: 30px;
    }
    .jvscript{
        position: relative;
        left: 55px;
        width: 80px;
        top: 30px;
    }
    .css{
        position: relative;
        left: 85px;
        width: 70px;
        top: 30px;
    }
    .sql{
      position: relative;
    }

}

